@media (max-width: 376px) {
  #top-bar {
    grid-template-columns: repeat(2, 147px);
    grid-template-areas: "div1 div2 ";
  }
  .logo {
    font: Bold 15px/18px Helvetica;
    padding: 20px 0px 0px 0px;
  }
  .nav-links {
    text-align: left;
    font: Light 13px/18px Helvetica;
    grid-area: div2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 0px 0px 20px;
  }
  .donate-button {
    display: inline-block;
    padding: 3px 0px 0px 36px;
  }

  .button {
    width: 277px;
    height: 35px;
    padding: 3px 0px 0px 36px;
    margin: 95px 0px 0px -147px;
  }
  .image {
    background-image: url("/assets/assets/home/annie-spratt-135307-unsplash@2xcropped.png");
    width: 376px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
  }
  .intro-caption {
    width: 200px;
    height: 150px;
    margin: 116px 136px 597px 6px;
    font-size: 48px;
  }
  .intro-card {
    width: 312px;

    height: 253px;
    margin: 0px 12px 27px 14px;
  }
  .intro-h1 {
    font: Bold 18px/26px Helvetica;
    width: 283px;
    height: 113px;
    padding: 53px 0px 0px 16px;
    text-align: -moz-center;
    margin: -433px 0px 10px 0px;
  }
  .intro-p {
    font-size: 14px;
    font-family: Helvetica;
    padding: 0px 24px 0px 0px;
    text-align: center;
  }
  .take-action {
    margin: 665px 45px 0px 0px;
    position: absolute;
  }
  .take-action-card {
    width: 376px;
    height: 337px;
  }
  .action-card {
    width: 159px;
    margin: 32px 0px 0px 14px;
    padding: 0px 96px 0px 0px;
    font-size: 14px;
  }
  .what-box {
    width: 150px;
    height: 46px;
    font-size: 16px;
    margin: 88px 0px 0px 0px;
  }
  .mission-area {
    width: 376px;
    height: 2220px;
  }
  .mission-title {
    margin: 83px 140px 0px 29px;
    font: Bold 19px/33px Helvetica;
    width: 320px;
    height: 49px;
    text-align: center;
  }
  .info-area {
    grid-gap: 35px;
  }
  .info-box {
    width: 327px;
    height: 500px;
    margin: 188px 0px 0px 31px;
    padding: 0px 0px 0px 0px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "div1" "div2";
    text-align: center;
  }
  .info-title {
    width: 272px;
    margin: -44px 0px 0px 32px;
  }
  .info-box-text {
    padding: 0px 0px 0px 51px;
  }
  .read-more {
    width: 137px;
    height: 29px;
    margin: 159px 0px 0px 95px;
    padding: 11px 0px 0px 5px;
  }
  .info-box-image1 {
    top: 1476px;
    left: 61px;
  }

  .info-box-image2 {
    top: 2064px;
    left: 61px;
  }
  .info-box-image3 {
    top: 2718px;
    left: 61px;
  }
}
