@font-face {
  font-family: "Flood";
  src: url("../fonts/Flood.ttf");
  font-style: normal;
  font-weight: normal;
}
#top-bar {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "div1 div2 div2 div2 div2 div3";
}
.logo {
  top: 34px;
  left: 160px;
  width: 160px;
  height: 63px;
  grid-area: div1;
  text-align: left;
  font: Bold 18px/18px Helvetica;
  letter-spacing: 0;
  color: #354463;
  opacity: 1;
  padding: 20px 4px 2px 120px;
}
a {
  text-decoration: none;
  color: #354463;
}
.nav-links {
  top: 34px;
  left: 160px;
  width: 800px;
  height: 63px;
  padding: 25px 30px 10px 40px;
  text-align: left;
  font: Light 16px/24px Helvetica;
  grid-area: div2;
  display: flex;
  justify-content: space-evenly;
}
.donate-button {
  text-align: center;
  width: 160px;
  height: 48px;
  font: Bold 16px/24px Helvetica;
  display: inline-block;
  grid-area: div3;
  padding: 15px 0px 0px 0px;
}
.button {
  background: #c1f7d5;
  border-radius: 100px;
  width: 160px;
  height: 58px;
}
.image {
  top: 128px;
  left: 0px;
  width: 1338px;
  height: 672px;
  background-image: url("/assets/assets/home/annie-spratt-135307-unsplash.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "div1 div2";

  align-items: center;
}

.intro-card {
  background: white;
  color: #354463;
  width: 460px;
  height: 360px;
  padding: 20px 20px 20px 40px;
  margin: 150px 0px 0px 159px;
  grid-area: div1;
}
.intro-h1 {
  font: Bold 38px/46px Helvetica;
  padding: 0 0 0 25px;
  width: 440px;
  height: 221px;
}
.intro-p {
  text-decoration: underline;
  padding: 15px;
  margin: 0 0 0 10px;
  text-decoration: underline;
  font: Light 16px/24px Helvetica;
}
.intro-text {
  font-size: 72px;
  width: 220px;
  height: 230px;
  color: white;
  margin: -70px 0 0 70px;
}
.the-issue {
  position: relative;
  margin: -40px 0px 0px -10px;
}
.card-title {
  color: white;
  background: #354463;
  font-family: monospace;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 0px 40px;
}
.intro-caption {
  font-family: "Flood";
  color: white;
  font-size: 64px;
  top: 265px;
  left: 839px;
  width: 296px;
  height: 224px;
  margin: 109px 0px 170px 91px;
}
.take-action {
  position: relative;
  margin: 102px 0px 0px 598px;
}
.take-action-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "div1 div2 div3 div4";
  top: 800px;
  left: 0px;
  width: 1338px;
  height: 240px;
  background: #c1f7d5;
  color: #354463;
}
.action-card {
  width: 271px;
  height: 94px;
  padding: 50px 40px 0px 26px;
  font-size: 16px;
}
.action-card1 {
  grid-area: div1;
}

.action-card2 {
  grid-area: div2;
}

.action-card3 {
  grid-area: div3;
}

.action-card4 {
  grid-area: div4;
}
.what-box {
  top: 1128px;
  left: 110px;
  color: #354463;
  background: white;
  font-family: monospace;
  width: 150px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.mission-area {
  display: grid;
  width: 1338px;
  height: 1019px;
  background: #354463;
  opacity: 1;
}
.mission-title {
  text-align: left;
  font: Bold 32px/42px Helvetica;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 1;
  margin: 160px 140px 0px 100px;
}
.info-area {
  display: grid;
  grid-template-columns: repeat(3, 28%);
  grid-template-areas: "div1 div2 div3";
}
#box1 {
  grid-area: div1;
}
#box2 {
  grid-area: div2;
}
#box3 {
  grid-area: div3;
}
.info-box {
  width: 180px;
  height: 300px;
  margin: 0px 50px 0px 100px;
  background: #ffffff;
  opacity: 1;
  padding: 180px 50px 5px 50px;
  color: #354463;
}
.info-box-text {
  width: 200px;
  height: 120px;
  font-size: 14px;
}
.read-more {
  text-align: center;
  font: Bold 14px/16px Helvetica;
  padding: 10px 25px 10px 25px;
}

.info-box-image1 {
  top: 1392px;
  left: 150px;
  position: absolute;
}

.info-box-image2 {
  top: 1392px;
  left: 526px;
  position: absolute;
}
.info-box-image3 {
  top: 1392px;
  left: 900px;
  position: absolute;
}

.facts-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "div1 div2";
  width: 1338px;
  height: 1279px;
  background-image: url("../assets/assets/home/did-you-know-background.png");
}
.facts-caption {
  font-family: "Flood";
  color: white;
  font-size: 64px;
  width: 380px;
  height: 300px;
  padding: 140px 0px 0px 140px;
  grid-area: div1;
}
.fact-button {
  margin: 480px 0px 0px 140px;
  grid-area: div1;
  height: 20px;
  text-align: center;
  font: Bold 14px/16px Helvetica;
  padding: 15px 5px 15px 5px;
}
.fact-box-area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* grid-template-areas: "div1 div2 div3 div4"; */
}
.fact-box {
  background: #ffffff;
  margin-top: 50px;
  width: 460px;
  height: 180px;
  left: 250px;
  color: #354463;
}
.fbox-icons-twit {
  position: relative;
  top: 8px;
  left: 88px;
  background-color: #c1f7d5;
  border-radius: 50%;
  padding: 8px 9px 6px 7px;
  width: 17px;
}
.fbox-icons-fb {
  position: relative;
  padding: 6px 11px 7px 8px;
  background-color: #c1f7d5;
  margin: 0px 0px 0px 380px;
  border-radius: 52%;
  width: 10px;
  height: 15px;
}

pre {
  height: 60px;
}
.fbox-title {
  font: Bold 32px/46px Helvetica;
  text-align: left;
  width: 440px;
  height: 40px;
  padding: 36px 0px 0px 38px;
  margin: 0px 0px 3px 0px;
}
.fbox-text {
  width: 318px;
  height: 8px;
  font: Light 16px/24px Helvetica;
  padding: 5px 80px 0px 40px;
  margin: 0px 0px 0px 0px;
}

.did-know {
  position: absolute;
  margin: 105px 0px 0px 660px;
}

.stories-area {
  display: grid;
  background-color: #ffffff;
  width: 1338;
  height: 824px;
}
.story-box {
  position: absolute;
  height: 244px;
  width: 344px;
  background-color: #354463;
  text-align: left;
  font: Bold 22px/26px Helvetica;
  color: #ffffff;
  padding: 35px 64px 20px 64px;
  margin: 248px 0px 0px 139px;
}
.story-image {
  margin: 150px 0px 0px 567px;
  padding: 0px;
}
