@media (max-width: 768px) {
  .top-bar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "div1 div2";
  }
  .logo {
    font: Bold 18px/22px Helvetica;
    padding: 20px 0px 0px 29px;
  }
  .nav-links {
    grid-area: div1;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 19px 0px 0px 0px;
    margin: 11px 0px 0px 0px;
    width: 399px;
    height: 65px;
  }
  .donate-button {
    padding: 15px 0px 0px 22px;
  }
  .button {
    grid-area: div2;
    width: 202px;
    height: 61px;
    margin: 19px 0px 0px 71px;
  }
  .image {
    background-image: url("/assets/assets/home/annie-spratt-135307-unsplash@2xtablet.png");
    width: auto;
    grid-template-columns: none;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "div1" "div2";
  }
  .intro-caption {
    grid-area: div1;
    width: 200px;
    height: 150px;
    font-size: 48px;
    top: 23%;
    left: 12%;
  }
  .intro-card {
    grid-area: div2;
    width: 73%;
    height: 74%;
    top: 10%;
    left: 7%;
  }
  .intro-h1 {
    font: Bold 28px/36px Helvetica;
    width: 78%;
    height: 138px;
    padding: 50px 0px 0px 60px;
    margin: 0px 0px 0px 0px;
  }
  .the-issue {
    grid-area: div2;
    top: 19px;
    left: 94px;
    width: 0px;
  }
  .intro-p {
    margin: 0px 0px 0px 45px;
  }
  .take-action {
    top: 78%;
    left: 37%;
    position: absolute;
  }
  .take-action-card {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "div1 div2" "div3 div4";
    width: auto;
    height: 337px;
  }
  .action-card {
    width: 260px;
    margin: 32px 0px 0px 55px;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
  }
  .what-box {
    width: 150px;
    height: 46px;
    font-size: 16px;
    margin: 88px 0px 0px 0px;
  }
  .mission-area {
    width: auto;
    height: 1338px;
  }
  .mission-title {
    margin: 160px 0px 0px 100px;
    font: Bold 27px/36px Helvetica;
    width: 600px;
    height: 140px;
  }
  .info-area {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 28%);
    grid-template-areas: "div1" "div2" "div3";
    grid-gap: 65px;
    width: auto;
  }
  .info-box {
    width: 614px;
    height: 274px;
    margin: 0px 0px 0px 94px;
    padding: 0px 0px 0px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "div1 div2";
  }
  .info-title {
    grid-area: div2;
    padding: 0px 0px 0px 0px;
    width: 157px;
    margin: 49px 0px 0px 9px;
  }
  .info-box-text {
    grid-area: div2;
    width: 219px;
    height: 120px;
    font-size: 15px;
    padding: 102px 0px 0px 9px;
  }
  .read-more {
    width: 137px;
    height: 29px;
    margin: 189px 0px 0px 96px;
    grid-area: div1;
  }
  .info-box-image1 {
    top: 1462px;
    left: 122px;
  }

  .info-box-image2 {
    top: 1790px;
    left: 122px;
  }
  .info-box-image3 {
    top: 2132px;
    left: 122px;
  }

  .facts-area {
    width: auto;
    height: 1279px;
    background-image: url("../assets/assets/home/did-you-know-background@2x.png");
  }
  .facts-caption {
    font-size: 44px;
    width: 200px;
    height: 278px;
    padding: 155px 0px 0px 75px;
  }
  .fact-box {
    font-size: 13px;
    width: 321px;
    height: 124px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  pre {
    height: 48px;
  }
  .fbox-icons-twit {
    top: 4px;
    left: 62px;
  }
  .fbox-icons-fb {
    margin: 0px 0px 0px 274px;
  }
  .fbox-title {
    font: Bold 26px/36px Helvetica;
    width: 240px;
    height: 40px;
    margin: 19px 0px 0px 13px;
  }
  .fbox-text {
    grid-area: div2;
    width: 235px;
    height: 43px;
    font: Light 18px/22px Helvetica;
    padding: 5px 9px 0px 10px;
    margin: 0px 0px 0px 0px;
  }
  .fact-button {
    margin: 445px 0px 0px 68px;
    grid-area: div1;
    height: 20px;
    padding: 13px 0px 14px 0px;
  }
  .did-know {
    margin: 131px 0px 0px 393px;
  }
  .stories-area {
    width: auto;
    height: 890px;
  }
  .story-box {
    height: 181px;
    width: 440px;
    font: Bold 17px/23px Helvetica;
    padding: 32px 30px 0px 51px;
    margin: 504px 0px 0px 201px;
  }
  .story-image {
    margin: 76px 0px 0px 62px;
  }
  .stories {
    top: 95px;
    margin: 0px 0px 0px 111px;
    width: 190px;
    height: 38px;
  }
  .story-read-more {
    top: 56px;
    right: 123px;
  }

  .future-area {
    width: auto;
    height: 1390px;
  }
  .future-caption {
    font-size: 42px;
    width: 495px;
    height: 90px;
    padding: 110px 0px 0px 68px;
  }
  .future-box {
    margin: 0px 0px 77px 22px;
    width: 709px;
    height: 499px;
  }
  .future-box-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .future-box-img-1 {
    width: 282px;
    height: 282px;
    margin: 14px 0px 0px 38px;
  }
  .future-box-img-2 {
    width: 288px;
    height: 288px;
    margin: 15px 0px 0px 0px;
  }
  .future-box-info-1 {
    grid-template-rows: 14% 26% 47% 13%;
  }
  .future-box-info-2 {
    grid-template-rows: 14% 26% 47% 13%;
  }
  .future-title {
    font: Bold 25px/32px Helvetica;
    width: 329px;
    height: 99px;
    margin: 11px 0px 0px 54px;
  }
  .future-text {
    width: 320px;
    height: 172px;
    font: lighter 16px/29px Helvetica;
  }
  .future-read-more {
    grid-area: div4;
    text-align: center;
    font: Bold 14px/16px Helvetica;
    padding: 12px 4px 0px 4px;
    height: 36px;
    margin: 9px 0px 0px 51px;
  }
  .future-event-box {
    width: 162px;
    height: 37px;
    left: 401px;
    top: 253px;
  }
  .future-latest-news-box {
    width: 162px;
    height: 37px;
    top: 55px;
    left: 63px;
  }
  .subscribe-section {
    width: auto;
    height: 246px;
  }
  .subscribe-area {
    flex-wrap: wrap;
    top: 48px;
    margin: 0px 0px 0px 0px;
    width: 642px;
    justify-content: space-around;
    left: 33px;
  }
  .subscribe-title {
    font: Bold 19px/28px Helvetica;
    width: 440px;
    margin: 21px 0px 21px 0px;
    padding: 0px 153px 0px 0px;
  }
  .email-box {
    width: 431px;
    height: 23px;
  }
  .bottom-bar {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "div1 div2";
  }
  .footer-caption {
    width: 179px;
    margin: 209px 0px 2px 225px;
    grid-area: div2;
  }
  .footer-links {
    width: 395px;
    margin: 5px 0px 0px 38px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .contact-us {
    width: 178px;
    margin: 0px 45px 0px 0px;
  }
}
