@media (max-width: 780px) {
  .top-bar {
    grid-template-columns: 61% 40%;
    grid-template-areas: "div1 div2";
    height: 7rem;
  }
  .logo {
    padding: 0% 0% 0% 0%;
    position: relative;
    top: 18%;
    left: 11%;
    width: 49%;
    font: bold 125% Helvetica;
    line-height: normal;
    line-height: 125%;
  }
  .nav-links {
    grid-area: div1;
    align-items: flex-end;
    width: 97%;
    height: 38%;
    top: 56%;
    left: 7%;
  }
  .donate-button {
    font: Bold 18px/24px Helvetica;
    left: 7%;
  }
  .button {
    grid-area: div2;
    width: 69%;
    height: 49%;
    left: 23%;
    top: 24%;
  }
  .image {
    background-image: url("/assets/assets/home/annie-spratt-135307-unsplash@2xtablet.png");
    grid-template-columns: none;
    grid-template-rows: repeat(2, 50%);
    grid-template-areas: "div1" "div2";
  }
  .intro-caption {
    grid-area: div1;
    width: 200px;
    height: 150px;
    font-size: 48px;
    top: 23%;
    left: 12%;
  }
  .intro-card {
    grid-area: div2;
    width: 73%;
    height: 74%;
    top: 10%;
    left: 7%;
  }
  .intro-h1 {
    width: 78%;
    height: 45%;
    padding: 0%;
    position: relative;
    top: 6%;
    left: 11%;
    font-size: 180%;
  }
  .the-issue {
    top: 5%;
    left: 15%;
    width: 20%;
    height: 11%;
    grid-area: div2;
  }
  .intro-p {
    top: 7%;
    left: 6%;
  }
  .take-action {
    left: 37%;
    height: 5%;
    width: 23%;
  }
  .take-action-card {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "div1 div2" "div3 div4";
    height: 337px;
  }
  .action-card {
    width: 68%;
    margin: 0px 0px 0px 55px;
    font-size: 100%;
    padding: 0px 0px 0px 0px;
  }
  .what-box {
    width: 22%;
    height: 36%;
    font-size: 100%;
    top: 69%;
    left: 5%;
  }
  .mission-area {
    width: auto;
    height: 90rem;
  }
  .mission-title {
    top: 14%;
    width: 93%;
    left: 5%;
    font-size: 200%;
    line-height: 113.5%;
  }
  .info-area {
    grid-template-columns: none;
    grid-template-rows: repeat(3, 28%);
    grid-template-areas: "div1" "div2" "div3";
    grid-gap: 5%;
    width: auto;
    bottom: 0%;
    left: 0%;
    height: 64rem;
    top: 0%;
  }
  .info-box {
    width: 93%;
    height: 17rem;
    display: grid;
    grid-template-rows: 32% auto;
    grid-template-areas: "div1" "div2";
    left: 5%;
    top: 12%;
  }
  .info-title {
    grid-area: div1;
    width: 32%;
    height: 3rem;
    top: 31%;
    left: 56%;
  }
  .info-area img {
    width: 90%;
    height: 97%;
  }
  .info-box-text {
    grid-area: div2;
    width: 42%;
    height: 54%;
    font-size: 94%;
    top: 0%;
    left: 45%;
  }
  .read-more {
    width: 15%;
    height: 22%;
    top: 230%;
    grid-area: div1;
    left: 28%;
  }
  .info-box-image1 {
    left: 15%;
    top: 0%;
    width: 41%;
    height: 20%;
  }

  .info-box-image2 {
    left: 13%;
    top: 33%;
    height: 19%;
  }
  .info-box-image3 {
    left: 15%;
    top: 67%;
    height: 20%;
  }
  .facts-area {
    width: auto;
    height: 59rem;
    background-image: url("../assets/assets/home/did-you-know-background@2x.png");
  }
  .facts-caption {
    font-size: 309%;
    width: 51%;
    height: 25%;
  }
  .fact-box {
    font-size: 92%;
    width: 87%;
    height: 14%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
  pre {
    height: 78%;
  }
  .fbox-icons-twit {
    top: 9%;
    left: 25%;
  }
  .fbox-icons-fb {
    margin: 0% 0% 0% 83%;
  }
  .fbox-title {
    font: Bold 178% Helvetica;
    width: 73%;
    height: 67%;
    margin: 19px 0px 0px 13px;
  }
  .fbox-text {
    grid-area: div2;
    width: 81%;
    height: 78%;
    font: lighter 104.5% Helvetica;
    padding: 5px 9px 0px 10px;
    margin: 0px 0px 0px 0px;
  }
  .fact-button {
    grid-area: div1;
    height: 2%;
    padding: 13px 0px 14px 0px;
    top: 38%;
    width: 38%;
  }
  .did-know {
    left: 53%;
    top: 167rem;
    margin: 0%;
  }
  .stories-area {
    width: auto;
    height: 64rem;
    position: relative;
  }
  .story-box {
    width: 50%;
    top: 15%;
    left: 5%;
    height: 19%;
    font: Bold 17px/23px Helvetica;
  }
  .story-image {
    left: 11%;
    height: 47%;
    margin: 0%;
    top: 13%;
    width: 62%;
  }
  .stories {
    top: 11%;
    margin: 0px 0px 0px 111px;
    width: 23%;
    height: 5%;
  }
  .story-read-more {
    top: 42%;
  }

  .future-area {
    width: auto;
    height: 1390px;
  }
  .future-caption {
    font-size: 42px;
    width: 495px;
    height: 90px;
    padding: 110px 0px 0px 68px;
  }
  .future-box {
    margin: 0px 0px 77px 22px;
    width: 709px;
    height: 499px;
  }
  .future-box-area {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .future-box-img-1 {
    width: 282px;
    height: 282px;
    margin: 14px 0px 0px 38px;
  }
  .future-box-img-2 {
    width: 288px;
    height: 288px;
    margin: 15px 0px 0px 0px;
  }
  .future-box-info-1 {
    grid-template-rows: 14% 26% 47% 13%;
  }
  .future-box-info-2 {
    grid-template-rows: 14% 26% 47% 13%;
  }
  .future-title {
    font: Bold 25px/32px Helvetica;
    width: 329px;
    height: 99px;
    margin: 11px 0px 0px 54px;
  }
  .future-text {
    width: 320px;
    height: 172px;
    font: lighter 16px/29px Helvetica;
  }
  .future-read-more {
    grid-area: div4;
    text-align: center;
    font: Bold 14px/16px Helvetica;
    padding: 12px 4px 0px 4px;
    height: 36px;
    margin: 9px 0px 0px 51px;
  }
  .future-event-box {
    width: 162px;
    height: 37px;
    left: 401px;
    top: 253px;
  }
  .future-latest-news-box {
    width: 162px;
    height: 37px;
    top: 55px;
    left: 63px;
  }
  .subscribe-section {
    width: auto;
    height: 246px;
  }
  .subscribe-area {
    flex-wrap: wrap;
    top: 48px;
    margin: 0px 0px 0px 0px;
    width: 642px;
    justify-content: space-around;
    left: 33px;
  }
  .subscribe-title {
    font: Bold 19px/28px Helvetica;
    width: 440px;
    margin: 21px 0px 21px 0px;
    padding: 0px 153px 0px 0px;
  }
  .email-box {
    width: 431px;
    height: 23px;
  }
  .bottom-bar {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "div1 div2";
  }
  .footer-caption {
    width: 179px;
    margin: 209px 0px 2px 225px;
    grid-area: div2;
  }
  .footer-links {
    width: 395px;
    margin: 5px 0px 0px 38px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .contact-us {
    width: 178px;
    margin: 0px 45px 0px 0px;
  }
}
